menu "Logger GPS Log Module Configuration"
    config GPS_LOG_ENABLE
        bool "Enable GPS Log Module"
        default y
        help
        Enable GPS Log Module
    config GPS_LOG_STACK_SIZE
        int "GPS Log Module Stack Size in bytes"
        default 8096
        help
        GPS Log Module Stack Size in bytes
    config GPS_LOG_ENABLE_GPY
        bool "Enable GPY Log Message Format"
        default y
        help
        Enable GPY Log Message Format
    choice
        bool "Default log verbosity"
        default GPS_LOG_LEVEL_WARN
        help
            Specify how important log should be added.
        config GPS_LOG_LEVEL_TRACE
            bool "A lot of logs to give detailed information"
        config GPS_LOG_LEVEL_INFO
            bool "Log important events"
        config GPS_LOG_LEVEL_WARN
            bool "Log if something unwanted happened but didn't cause a problem"
        config GPS_LOG_LEVEL_ERROR
            bool "Only critical issues, when the system may fail"
        config GPS_LOG_LEVEL_USER
            bool "Only logs added by the user"
        config GPS_LOG_LEVEL_NONE
            bool "Do not log anything"
    endchoice
    config GPS_LOG_LEVEL
        int
        default 0 if GPS_LOG_LEVEL_TRACE
        default 1 if GPS_LOG_LEVEL_INFO
        default 2 if GPS_LOG_LEVEL_WARN
        default 3 if GPS_LOG_LEVEL_ERROR
        default 4 if GPS_LOG_LEVEL_USER
        default 5 if GPS_LOG_LEVEL_NONE
endmenu